<!DOCTYPE html>
<html lang="en" ng-app="BeatDown">
<head>
  <meta charset="UTF-8">
  <title>BeatDown</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/styling/styles.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/bandImageController.js"></script>
</head>

<body ng-controller="BandImageController as bandCtrl">
  <header id="top" class="main_header">
    <nav class="navbar navbar-default">
      <h1 class="main_title">Beat Down</h1>
      <div class="bandMembers">
        <a id="camster" href ng-mouseenter="hoverIn('camImg')" ng-mouseleave="hoverOut('camImg')">Cam</a>
        <a id="pie" href ng-mouseenter="hoverIn('pieImg')" ng-mouseleave="hoverOut('pieImg')">Pie</a>
        <a id="tooHotty" href ng-mouseenter="hoverIn('tooHotImg')" ng-mouseleave="hoverOut('tooHotImg')">TooHotty</a>
        <a id="sotham" href ng-mouseenter="hoverIn('sothamImg')" ng-mouseleave="hoverOut('sothamImg')">Sotham</a>
        <a id="ryan" href ng-mouseenter="hoverIn('ryanImg')" ng-mouseleave="hoverOut('ryanImg')">Ryan</a>
      </div>

    </nav>
  </header>
  <div class="container">
    <div class="row">
    <div class="col-xs-14 col-sm-8 col-lg-9">
      <img src="/images/drum.jpg" alt="">
    </div>

      <div "col-xs-4 col-lg-3">
        <aside id="sidebar">
          <h1 id="tour">
            Tour Dates
          </h1>
          <article>
            <a href ng-click="voteCount()">Vote</a>
            <h2>{{votes}}</h2>
          </article>
          <div class="bandCollection">
            <article class="bandBio" ng-show="bandMember.camImg.showImg" >
              <img class="img-responsive img-rounded" ng-src="/images/milnes.jpg" >
              <h2>Hi there</h2>
            </article>
            <article class="bandBio" ng-show="bandMember.pieImg.showImg">
              <img class="img-responsive img-rounded" ng-src="/images/pie.jpg">
            </article>
            <article class="bandBio" ng-show="bandMember.tooHotImg.showImg">
              <img class="img-responsive img-rounded" ng-src="/images/tooHotty.jpg">
              </article>
            <article class="bandBio" ng-show="bandMember.sothamImg.showImg">
              <img class="img-responsive img-rounded" ng-src="/images/sotham2.jpg">
            </article>
            <article class="bandBio"ng-show="bandMember.ryanImg.showImg">
              <img class="img-responsive img-rounded" ng-src="/images/ryan.jpg" >
            </article>
          </div>
        </aside>
      </div>
    </div>
  </div>

</body>

</html>